body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(red,pink);
    height:100vh;
}
p{
    color:white;
    font-size:2em;
}