.title {
    display:inline;
    text-align: center;
    animation-name:change-color;
    animation-duration: 4s;
    animation-iteration-count:infinite;
    padding:.5rem;
    border-radius:.5rem;
    margin:1rem;
}
/* The animation code */
@keyframes change-color {
    0%   {background-color:pink; color:gray}
    20%  {background-color:red; color:blue}
    40%  {background-color:yellow; color:green}
    60%  {background-color:blue; color:red}
    80%  {background-color:rgb(64, 217, 64); color:rgb(26, 122, 113)}
    100% {background-color:pink; color:gray}
}
.blague-container {
    padding:1rem 0;
}
.blague-container:hover > a {
    animation-name:leave;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}
.blague-link {
    display:inline-block;
}
@keyframes leave {
    0% {transform:translateX(0)}
    20% {transform:translateX(15rem)}
    50% {transform:translateX(20rem) translateY(5rem)}
    80% {transform:translateX(6rem) translatey(1rem)}
    90% {transform:translateX(10rem)translateY(-5rem)}
    100% {transform:translateX(0)}
}
.jolypote-jardin {
    text-align: center;
}
.jolypote-jardin > img {
    width:20rem;
}
.alex-container {
    display:flex;
}
.alex-container > div {
    width:100%;
    text-align: center;
    max-width:15rem;
}
.alex-photo {
    width:100%;
}