body {
    font-family: 'Tangerine',serif;
    font-size: 2em;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(187,119,42,0.6037814784116772) 100%);
}
.container {
    display:flex;
    justify-content: center;
}
.gallerie {
    display:grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows:repeat(15,1fr);
    gap: .5rem;
    margin:1rem;
    max-width:50rem;
    aspect-ratio: 1/3;
}
.img {
    width:100%;
}
.description {
    text-align: center;
}
.center {
    text-align: center;
}
.item {
    background-color: rgb(236, 240, 216);
    border-radius: .5rem;
    padding:1rem;
}
.item-1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    transform: rotateZ(3deg);
}
.item-2 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 4;
    transform: rotateZ(-4deg);
}
.item-3 {
    grid-column-start:1;
    grid-column-end: 5;
    grid-row-start:7;
    transform: rotateZ(-1deg);
}
.item-4 {
    grid-column-start:2;
    grid-column-end: 6;
    grid-row-start:11;
    transform: rotateZ(2deg);
}
